mixin contentCard(title, text1, text2, filterClass)
    article.card
        h2.card__title= title
        .card__image-wrapper
            svg.card__image(class=filterClass)(
                viewBox='0 0 700 700',
                fill='none',
                xmlns='http://www.w3.org/2000/svg')
                use.bus(href='./images/bus2.svg#bus')
        .card__text
            p= text1
            p= text2
        .card__like-itemes
            button.card__like-itemes__heart_wrapper.card__icon-button
                svg.like-icon(
                    width='27',
                    height='24',
                    viewBox='0 0 27 24',
                    xmlns='http://www.w3.org/2000/svg')
                    use(href='./images/heart.svg#heart')
            button.card__like-itemes__like-button.card__like-button(type='button')
                span.button__text Like
